<a href="https://colab.research.google.com/github/royarkaofficial/DataOps-Lab-of-Python-SQL-8th-Jan/blob/main/Copy_of_Lab_of_Python_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connecting Python to a SQL DB and query the data

Step 1 : Install required libraries
If your using MYSQL , PostgreSQL ,you need to use thier respective connectors
(mysql-connector-python or psycopg2)
For this example : SQLlite3 (doesn't require additional installation

In [1]:
#For SQL
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (34.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 21.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

Step 2 : Connect to SQLLite DB
SQLite DB are stored as .db files , which you can upload to google collab , create a new one from the scratch

In [2]:
import sqlite3

#Connect to SQLite (or create a new one)
conn = sqlite3.connect('sample_database.db')
cursor = conn.cursor()

#create a sample table (If not exists) and insert data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY,
        name TEXT,
        department TEXT,
        salary REAL
    )
''')

#Insert somple sample data
cursor.executemany('''
INSERT INTO employees (id , name, department, salary)
VALUES (?, ?, ?, ? )
''', [
    (6,'Ganesh', 'HR', 50000.0),
    (7,'Srija', 'IT', 60000.0),
])

conn.commit() #save the changes

In [3]:
#Query data
cursor.execute('SELECT * FROM employees')
#fetch all the rows from the executed query
rows = cursor.fetchall()
#print the rows
for row in rows:
    print(row)
#Close the connections
conn.close()

(6, 'Ganesh', 'HR', 50000.0)
(7, 'Srija', 'IT', 60000.0)